.keep-together {
  display: inline-flex;
}

@media screen and (min-width: 750px) {
  .run {
    display: inline-flex;
  }
}

.small-text {
  font-size: smaller;
  vertical-align: middle;
}

.num {
  width: 3em;
}

.axis path, .tick line {
  stroke: #b8b8b8;
}

.maskr2 {
  animation: mask 1s ease infinite;
}

@keyframes mask {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

.details-indent {
  padding-left: 1em;
  width: 9ch;
}

.limit-fill {
  stroke-width: 0;
  fill: red;
}

.limit-line {
  stroke: red;
  stroke-width: 0.5;
  stroke-dasharray: 4;
}

.line {
  stroke: black;
  stroke-width: 1.5;
  fill: none;
}
